.SelectColorBox {
  position: absolute;
  right: 0px;
  top: 0px;

  .selectBox {
    display: flex;
    float: right;
    margin-top: 3px;

    .item {
      border: 1px solid #2c3e50;
      width: 24px;
      height: 24px;
      cursor: pointer;
      text-align: center;
      font-size: 1.5rem;
    }
  }
}